gradio
requests
itsdangerous
ipykernel
langchain
langgraph
langchain_openai 
langchain-community
wikipedia
duckduckgo-search
python-dotenv
tavily-python
youtube-transcript-api

arxiv
pymupdf
pydub
git+https://github.com/openai/whisper.git

